<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "ed.dtd">
<config>
 <radiation>
  <lai_min>0.01</lai_min>
 </radiation>
 <ed_misc>
  <output_month>12</output_month>
 </ed_misc>
 <pft>
  <num>1</num>
  <is_tropical>0</is_tropical>
  <is_grass>0</is_grass>
  <include_pft>1</include_pft>
  <include_pft_ag>0</include_pft_ag>
  <include_pft_fp>0</include_pft_fp>
  <clumping_factor>0.840857881076977</clumping_factor>
  <orient_factor>-0.00148270989302546</orient_factor>
  <leaf_emiss_tir>0.95</leaf_emiss_tir>
  <wood_emiss_tir>0.9</wood_emiss_tir>
  <leaf_reflect_vis>0.0791279629528252</leaf_reflect_vis>
  <leaf_reflect_nir>0.260948934286035</leaf_reflect_nir>
  <wood_reflect_vis>0.150639785849489</wood_reflect_vis>
  <wood_reflect_nir>0.301612422522157</wood_reflect_nir>
  <leaf_trans_vis>0.0548205751339899</leaf_trans_vis>
  <leaf_trans_nir>0.289211407591761</leaf_trans_nir>
  <wood_trans_vis>0.00296725699026138</wood_trans_vis>
  <wood_trans_nir>0.00299315547943115</wood_trans_nir>
  <leaf_backscatter_vis>0</leaf_backscatter_vis>
  <leaf_backscatter_nir>0</leaf_backscatter_nir>
  <leaf_backscatter_tir>0.625</leaf_backscatter_tir>
  <wood_backscatter_vis>0</wood_backscatter_vis>
  <wood_backscatter_nir>0</wood_backscatter_nir>
  <wood_backscatter_tir>0.625</wood_backscatter_tir>
  <leaf_scatter_vis>0</leaf_scatter_vis>
  <leaf_scatter_nir>0</leaf_scatter_nir>
  <wood_scatter_vis>0</wood_scatter_vis>
  <wood_scatter_nir>0</wood_scatter_nir>
  <phi1>0</phi1>
  <phi2>0</phi2>
  <mu_bar>0</mu_bar>
  <photosyn_pathway>3</photosyn_pathway>
  <quantum_efficiency>0.0799999982</quantum_efficiency>
  <Vm0>20.3870754242</Vm0>
  <Vm_low_temp>4.7136998177</Vm_low_temp>
  <Vm_high_temp>45</Vm_high_temp>
  <Vm_decay_e>0.400000006</Vm_decay_e>
  <Vm_decay_a>220000</Vm_decay_a>
  <Vm_decay_b>690</Vm_decay_b>
  <vm_hor>3000</vm_hor>
  <vm_q10>2.4000000954</vm_q10>
  <dark_respiration_factor>0.0144999996</dark_respiration_factor>
  <Rd_low_temp>4.7136998177</Rd_low_temp>
  <Rd_high_temp>45</Rd_high_temp>
  <Rd_decay_e>0.400000006</Rd_decay_e>
  <Rd_hor>3000</Rd_hor>
  <Rd_q10>2.4000000954</Rd_q10>
  <Rd0>0.2956125736</Rd0>
  <D0>0.0160000008</D0>
  <stomatal_slope>7.1999998093</stomatal_slope>
  <cuticular_cond>10000</cuticular_cond>
  <water_conductance>0.0000190132</water_conductance>
  <leaf_width>0.1000000015</leaf_width>
  <growth_resp_factor>0</growth_resp_factor>
  <leaf_turnover_rate>0</leaf_turnover_rate>
  <root_turnover_rate>5.772506237</root_turnover_rate>
  <storage_turnover_rate>0</storage_turnover_rate>
  <f_labile>0.7900000215</f_labile>
  <root_respiration_factor>0.2800000012</root_respiration_factor>
  <rrf_low_temp>4.7136998177</rrf_low_temp>
  <rrf_high_temp>45</rrf_high_temp>
  <rrf_decay_e>0.400000006</rrf_decay_e>
  <rrf_hor>3000</rrf_hor>
  <rrf_q10>2.4000000954</rrf_q10>
  <frost_mort>3</frost_mort>
  <mort0>0</mort0>
  <mort1>1</mort1>
  <mort2>20</mort2>
  <mort3>0.0061440002</mort3>
  <cbr_severe_stress>-0.7971192598</cbr_severe_stress>
  <seedling_mortality>0.9499999881</seedling_mortality>
  <treefall_s_gt>0</treefall_s_gt>
  <treefall_s_lt>0.1000000015</treefall_s_lt>
  <fire_s_gt>0</fire_s_gt>
  <fire_s_lt>0</fire_s_lt>
  <plant_min_temp>193.1499938965</plant_min_temp>
  <rho>0</rho>
  <SLA>43.0821280618781</SLA>
  <horiz_branch>0.5699999928</horiz_branch>
  <q>1.1274000406</q>
  <sapwood_ratio>3900</sapwood_ratio>
  <qsw>0.0076923077</qsw>
  <init_density>0.1000000015</init_density>
  <b1Ht>22.6798992157</b1Ht>
  <b2Ht>-0.0653399974</b2Ht>
  <hgt_ref>1.2999999523</hgt_ref>
  <hgt_min>1.5</hgt_min>
  <hgt_max>22.6572189331</hgt_max>
  <min_dbh>0.1355601549</min_dbh>
  <dbh_crit>43.4928016663</dbh_crit>
  <dbh_adult>10</dbh_adult>
  <dbh_bigleaf>14.4976005554</dbh_bigleaf>
  <b1Bl_small>0.0129000004</b1Bl_small>
  <b1Bl_large>0.0129000004</b1Bl_large>
  <b2Bl_small>1.747699976</b2Bl_small>
  <b2Bl_large>1.747699976</b2Bl_large>
  <bleaf_adult>0.3607943356</bleaf_adult>
  <b1Bs_small>0.0264800005</b1Bs_small>
  <b1Bs_large>0.0264800005</b1Bs_large>
  <b2Bs_small>2.9595398903</b2Bs_small>
  <b2Bs_large>2.9595398903</b2Bs_large>
  <min_bdead>0.0000357601</min_bdead>
  <bdead_crit>935.0818481445</bdead_crit>
  <b1Ca>2.4901540279</b1Ca>
  <b2Ca>0.8068805933</b2Ca>
  <b1WAI>0.0096000005</b1WAI>
  <b2WAI>2.094700098</b2WAI>
  <brf_wd>0.1599999964</brf_wd>
  <agf_bs>0.6999999881</agf_bs>
  <b1Vol>0.0247086249</b1Vol>
  <b2Vol>2</b2Vol>
  <b1Rd>-1.1140580177</b1Rd>
  <b2Rd>0.4223014116</b2Rd>
  <c2n_leaf>13.4641094208</c2n_leaf>
  <c2n_recruit>17.8949623108</c2n_recruit>
  <phenology>2</phenology>
  <c_grn_leaf_dry>3218</c_grn_leaf_dry>
  <wat_dry_ratio_grn>2.5</wat_dry_ratio_grn>
  <wat_dry_ratio_ngrn>0.6999999881</wat_dry_ratio_ngrn>
  <c_ngrn_biom_dry>1217.3759765625</c_ngrn_biom_dry>
  <delta_c>-225.1618652344</delta_c>
  <b1Cl>0.3106774986</b1Cl>
  <b2Cl>1.0980000496</b2Cl>
  <r_fract>0.3000000119</r_fract>
  <st_fract>0</st_fract>
  <nonlocal_dispersal>1</nonlocal_dispersal>
  <repro_min_h>18</repro_min_h>
  <one_plant_c>0.0004555048</one_plant_c>
  <min_recruit_size>0.000004555</min_recruit_size>
  <min_cohort_size>0.0000004555</min_cohort_size>
  <seed_rain>0.0100000007</seed_rain>
  <negligible_nplant>0.0000000001</negligible_nplant>
  <veg_hcap_min>0.0895049497</veg_hcap_min>
 </pft>
 <pft>
  <num>2</num>
  <is_tropical>0</is_tropical>
  <is_grass>0</is_grass>
  <include_pft>1</include_pft>
  <include_pft_ag>0</include_pft_ag>
  <include_pft_fp>0</include_pft_fp>
  <clumping_factor>0.766097785927817</clumping_factor>
  <orient_factor>-0.002962343278341</orient_factor>
  <leaf_emiss_tir>0.97</leaf_emiss_tir>
  <wood_emiss_tir>0.9</wood_emiss_tir>
  <leaf_reflect_vis>0.0594496469542945</leaf_reflect_vis>
  <leaf_reflect_nir>0.294520669473436</leaf_reflect_nir>
  <wood_reflect_vis>0.150139940320514</wood_reflect_vis>
  <wood_reflect_nir>0.301934048160911</wood_reflect_nir>
  <leaf_trans_vis>0.00814273079763185</leaf_trans_vis>
  <leaf_trans_nir>0.196908396562912</leaf_trans_nir>
  <wood_trans_vis>0.00302769848704338</wood_trans_vis>
  <wood_trans_nir>0.00296691379835829</wood_trans_nir>
  <leaf_backscatter_vis>0</leaf_backscatter_vis>
  <leaf_backscatter_nir>0</leaf_backscatter_nir>
  <leaf_backscatter_tir>0.625</leaf_backscatter_tir>
  <wood_backscatter_vis>0</wood_backscatter_vis>
  <wood_backscatter_nir>0</wood_backscatter_nir>
  <wood_backscatter_tir>0.625</wood_backscatter_tir>
  <leaf_scatter_vis>0</leaf_scatter_vis>
  <leaf_scatter_nir>0</leaf_scatter_nir>
  <wood_scatter_vis>0</wood_scatter_vis>
  <wood_scatter_nir>0</wood_scatter_nir>
  <phi1>0</phi1>
  <phi2>0</phi2>
  <mu_bar>0</mu_bar>
  <photosyn_pathway>3</photosyn_pathway>
  <quantum_efficiency>0.0799999982</quantum_efficiency>
  <Vm0>4.5399999619</Vm0>
  <Vm_low_temp>4.7136998177</Vm_low_temp>
  <Vm_high_temp>45</Vm_high_temp>
  <Vm_decay_e>0.400000006</Vm_decay_e>
  <Vm_decay_a>220000</Vm_decay_a>
  <Vm_decay_b>690</Vm_decay_b>
  <vm_hor>3000</vm_hor>
  <vm_q10>2.4000000954</vm_q10>
  <dark_respiration_factor>0.0144999996</dark_respiration_factor>
  <Rd_low_temp>4.7136998177</Rd_low_temp>
  <Rd_high_temp>45</Rd_high_temp>
  <Rd_decay_e>0.400000006</Rd_decay_e>
  <Rd_hor>3000</Rd_hor>
  <Rd_q10>2.4000000954</Rd_q10>
  <Rd0>0.0658299997</Rd0>
  <D0>0.0160000008</D0>
  <stomatal_slope>7.1999998093</stomatal_slope>
  <cuticular_cond>1000</cuticular_cond>
  <water_conductance>0.0000190132</water_conductance>
  <leaf_width>0.0500000007</leaf_width>
  <growth_resp_factor>0.4503000081</growth_resp_factor>
  <leaf_turnover_rate>0.3333333433</leaf_turnover_rate>
  <root_turnover_rate>3.8001320362</root_turnover_rate>
  <storage_turnover_rate>0</storage_turnover_rate>
  <f_labile>0.7900000215</f_labile>
  <root_respiration_factor>0.2800000012</root_respiration_factor>
  <rrf_low_temp>4.7136998177</rrf_low_temp>
  <rrf_high_temp>45</rrf_high_temp>
  <rrf_decay_e>0.400000006</rrf_decay_e>
  <rrf_hor>3000</rrf_hor>
  <rrf_q10>2.4000000954</rrf_q10>
  <frost_mort>3</frost_mort>
  <mort0>0</mort0>
  <mort1>1</mort1>
  <mort2>20</mort2>
  <mort3>0.0023568</mort3>
  <cbr_severe_stress>-0.7971192598</cbr_severe_stress>
  <seedling_mortality>0.9499999881</seedling_mortality>
  <treefall_s_gt>0</treefall_s_gt>
  <treefall_s_lt>0.1000000015</treefall_s_lt>
  <fire_s_gt>0</fire_s_gt>
  <fire_s_lt>0</fire_s_lt>
  <plant_min_temp>213.1499938965</plant_min_temp>
  <rho>0</rho>
  <SLA>10.7137752790359</SLA>
  <horiz_branch>0.6100000143</horiz_branch>
  <q>0.3463000059</q>
  <sapwood_ratio>3900</sapwood_ratio>
  <qsw>0.0025641026</qsw>
  <init_density>0.1000000015</init_density>
  <b1Ht>22.7900009155</b1Ht>
  <b2Ht>-0.0444499999</b2Ht>
  <hgt_ref>1.2999999523</hgt_ref>
  <hgt_min>1.5</hgt_min>
  <hgt_max>22.7672119141</hgt_max>
  <min_dbh>0.1983015537</min_dbh>
  <dbh_crit>64.0400543213</dbh_crit>
  <dbh_adult>10</dbh_adult>
  <dbh_bigleaf>21.3466854095</dbh_bigleaf>
  <b1Bl_small>0.0454000011</b1Bl_small>
  <b1Bl_large>0.0454000011</b1Bl_large>
  <b2Bl_small>1.6828999519</b2Bl_small>
  <b2Bl_large>1.6828999519</b2Bl_large>
  <bleaf_adult>1.0937695503</bleaf_adult>
  <b1Bs_small>0.1616999954</b1Bs_small>
  <b1Bs_large>0.1616999954</b1Bs_large>
  <b2Bs_small>2.1535999775</b2Bs_small>
  <b2Bs_large>2.1535999775</b2Bs_large>
  <min_bdead>0.0024797136</min_bdead>
  <bdead_crit>628.1369628906</bdead_crit>
  <b1Ca>2.4901540279</b1Ca>
  <b2Ca>0.8068805933</b2Ca>
  <b1WAI>0.0276500005</b1WAI>
  <b2WAI>1.9768999815</b2WAI>
  <brf_wd>0.1599999964</brf_wd>
  <agf_bs>0.6999999881</agf_bs>
  <b1Vol>0.0247086249</b1Vol>
  <b2Vol>2</b2Vol>
  <b1Rd>-1.1140580177</b1Rd>
  <b2Rd>0.4223014116</b2Rd>
  <c2n_leaf>108.4507446289</c2n_leaf>
  <c2n_recruit>132.0868988037</c2n_recruit>
  <phenology>0</phenology>
  <c_grn_leaf_dry>3218</c_grn_leaf_dry>
  <wat_dry_ratio_grn>2.5</wat_dry_ratio_grn>
  <wat_dry_ratio_ngrn>0.6999999881</wat_dry_ratio_ngrn>
  <c_ngrn_biom_dry>1217.3759765625</c_ngrn_biom_dry>
  <delta_c>-225.1618652344</delta_c>
  <b1Cl>0.3106774986</b1Cl>
  <b2Cl>1.0980000496</b2Cl>
  <r_fract>0.3000000119</r_fract>
  <st_fract>0</st_fract>
  <nonlocal_dispersal>0.001</nonlocal_dispersal>
  <repro_min_h>18</repro_min_h>
  <one_plant_c>0.0044928668</one_plant_c>
  <min_recruit_size>0.0000449287</min_recruit_size>
  <min_cohort_size>0.0000044929</min_cohort_size>
  <seed_rain>0.0100000007</seed_rain>
  <negligible_nplant>0.0000000001</negligible_nplant>
  <veg_hcap_min>0.6800739169</veg_hcap_min>
 </pft>
 <pft>
  <num>3</num>
  <is_tropical>0</is_tropical>
  <is_grass>0</is_grass>
  <include_pft>1</include_pft>
  <include_pft_ag>0</include_pft_ag>
  <include_pft_fp>0</include_pft_fp>
  <clumping_factor>0.689618397403974</clumping_factor>
  <orient_factor>0.0113956240238622</orient_factor>
  <leaf_emiss_tir>0.95</leaf_emiss_tir>
  <wood_emiss_tir>0.9</wood_emiss_tir>
  <leaf_reflect_vis>0.0792936801235826</leaf_reflect_vis>
  <leaf_reflect_nir>0.259308912071671</leaf_reflect_nir>
  <wood_reflect_vis>0.151579695055261</wood_reflect_vis>
  <wood_reflect_nir>0.298552154749632</wood_reflect_nir>
  <leaf_trans_vis>0.0544401740161459</leaf_trans_vis>
  <leaf_trans_nir>0.287754155197338</leaf_trans_nir>
  <wood_trans_vis>0.00299832091433927</wood_trans_vis>
  <wood_trans_nir>0.0030491094798781</wood_trans_nir>
  <leaf_backscatter_vis>0</leaf_backscatter_vis>
  <leaf_backscatter_nir>0</leaf_backscatter_nir>
  <leaf_backscatter_tir>0.625</leaf_backscatter_tir>
  <wood_backscatter_vis>0</wood_backscatter_vis>
  <wood_backscatter_nir>0</wood_backscatter_nir>
  <wood_backscatter_tir>0.625</wood_backscatter_tir>
  <leaf_scatter_vis>0</leaf_scatter_vis>
  <leaf_scatter_nir>0</leaf_scatter_nir>
  <wood_scatter_vis>0</wood_scatter_vis>
  <wood_scatter_nir>0</wood_scatter_nir>
  <phi1>0</phi1>
  <phi2>0</phi2>
  <mu_bar>0</mu_bar>
  <photosyn_pathway>3</photosyn_pathway>
  <quantum_efficiency>0.0799999982</quantum_efficiency>
  <Vm0>6.9818749428</Vm0>
  <Vm_low_temp>4.7136998177</Vm_low_temp>
  <Vm_high_temp>45</Vm_high_temp>
  <Vm_decay_e>0.400000006</Vm_decay_e>
  <Vm_decay_a>220000</Vm_decay_a>
  <Vm_decay_b>690</Vm_decay_b>
  <vm_hor>3000</vm_hor>
  <vm_q10>2.4000000954</vm_q10>
  <dark_respiration_factor>0.0144999996</dark_respiration_factor>
  <Rd_low_temp>4.7136998177</Rd_low_temp>
  <Rd_high_temp>45</Rd_high_temp>
  <Rd_decay_e>0.400000006</Rd_decay_e>
  <Rd_hor>3000</Rd_hor>
  <Rd_q10>2.4000000954</Rd_q10>
  <Rd0>0.1012371853</Rd0>
  <D0>0.0160000008</D0>
  <stomatal_slope>7.1999998093</stomatal_slope>
  <cuticular_cond>10000</cuticular_cond>
  <water_conductance>0.0000190132</water_conductance>
  <leaf_width>0.1000000015</leaf_width>
  <growth_resp_factor>0</growth_resp_factor>
  <leaf_turnover_rate>0</leaf_turnover_rate>
  <root_turnover_rate>5.070991993</root_turnover_rate>
  <storage_turnover_rate>0</storage_turnover_rate>
  <f_labile>0.7900000215</f_labile>
  <root_respiration_factor>0.2800000012</root_respiration_factor>
  <rrf_low_temp>4.7136998177</rrf_low_temp>
  <rrf_high_temp>45</rrf_high_temp>
  <rrf_decay_e>0.400000006</rrf_decay_e>
  <rrf_hor>3000</rrf_hor>
  <rrf_q10>2.4000000954</rrf_q10>
  <frost_mort>3</frost_mort>
  <mort0>0</mort0>
  <mort1>1</mort1>
  <mort2>20</mort2>
  <mort3>0.00428</mort3>
  <cbr_severe_stress>-0.7971192598</cbr_severe_stress>
  <seedling_mortality>0.9499999881</seedling_mortality>
  <treefall_s_gt>0</treefall_s_gt>
  <treefall_s_lt>0.1000000015</treefall_s_lt>
  <fire_s_gt>0</fire_s_gt>
  <fire_s_lt>0</fire_s_lt>
  <plant_min_temp>253.1499938965</plant_min_temp>
  <rho>0</rho>
  <SLA>39.3931186028143</SLA>
  <horiz_branch>0.6100000143</horiz_branch>
  <q>1.1274000406</q>
  <sapwood_ratio>3900</sapwood_ratio>
  <qsw>0.0153846154</qsw>
  <init_density>0.1000000015</init_density>
  <b1Ht>23.3873996735</b1Ht>
  <b2Ht>-0.0540399998</b2Ht>
  <hgt_ref>1.2999999523</hgt_ref>
  <hgt_min>1.5</hgt_min>
  <hgt_max>23.3640117645</hgt_max>
  <min_dbh>0.1589262187</min_dbh>
  <dbh_crit>53.145866394</dbh_crit>
  <dbh_adult>10</dbh_adult>
  <dbh_bigleaf>17.7152900696</dbh_bigleaf>
  <b1Bl_small>0.0170000009</b1Bl_small>
  <b1Bl_large>0.0170000009</b1Bl_large>
  <b2Bl_small>1.7309999466</b2Bl_small>
  <b2Bl_large>1.7309999466</b2Bl_large>
  <bleaf_adult>0.4575293064</bleaf_adult>
  <b1Bs_small>0.2349999994</b1Bs_small>
  <b1Bs_large>0.2349999994</b1Bs_large>
  <b2Bs_small>2.2518000603</b2Bs_small>
  <b2Bs_large>2.2518000603</b2Bs_large>
  <min_bdead>0.0018676263</min_bdead>
  <bdead_crit>902.5061645508</bdead_crit>
  <b1Ca>2.4901540279</b1Ca>
  <b2Ca>0.8068805933</b2Ca>
  <b1WAI>0.0096000005</b1WAI>
  <b2WAI>2.094700098</b2WAI>
  <brf_wd>0.1599999964</brf_wd>
  <agf_bs>0.6999999881</agf_bs>
  <b1Vol>0.0247086249</b1Vol>
  <b2Vol>2</b2Vol>
  <b1Rd>-1.1140580177</b1Rd>
  <b2Rd>0.4223014116</b2Rd>
  <c2n_leaf>18.0751247406</c2n_leaf>
  <c2n_recruit>56.3194046021</c2n_recruit>
  <phenology>2</phenology>
  <c_grn_leaf_dry>3218</c_grn_leaf_dry>
  <wat_dry_ratio_grn>2.5</wat_dry_ratio_grn>
  <wat_dry_ratio_ngrn>0.6999999881</wat_dry_ratio_ngrn>
  <c_ngrn_biom_dry>1217.3759765625</c_ngrn_biom_dry>
  <delta_c>-225.1618652344</delta_c>
  <b1Cl>0.3106774986</b1Cl>
  <b2Cl>1.0980000496</b2Cl>
  <r_fract>0.3000000119</r_fract>
  <st_fract>0</st_fract>
  <nonlocal_dispersal>0.074000001</nonlocal_dispersal>
  <repro_min_h>18</repro_min_h>
  <one_plant_c>0.0026248484</one_plant_c>
  <min_recruit_size>0.0000262485</min_recruit_size>
  <min_cohort_size>0.0000026248</min_cohort_size>
  <seed_rain>0.0100000007</seed_rain>
  <negligible_nplant>0.0000000001</negligible_nplant>
  <veg_hcap_min>0.1606011242</veg_hcap_min>
 </pft>
 <pft>
  <num>4</num>
  <is_tropical>0</is_tropical>
  <is_grass>0</is_grass>
  <include_pft>1</include_pft>
  <include_pft_ag>0</include_pft_ag>
  <include_pft_fp>0</include_pft_fp>
  <clumping_factor>0.679321688180789</clumping_factor>
  <orient_factor>0.00412035884801298</orient_factor>
  <leaf_emiss_tir>0.95</leaf_emiss_tir>
  <wood_emiss_tir>0.9</wood_emiss_tir>
  <leaf_reflect_vis>0.0803552623473132</leaf_reflect_vis>
  <leaf_reflect_nir>0.263073650142475</leaf_reflect_nir>
  <wood_reflect_vis>0.152481390116736</wood_reflect_vis>
  <wood_reflect_nir>0.299623252591118</wood_reflect_nir>
  <leaf_trans_vis>0.0539111457546048</leaf_trans_vis>
  <leaf_trans_nir>0.288598025691495</leaf_trans_nir>
  <wood_trans_vis>0.00299001408228651</wood_trans_vis>
  <wood_trans_nir>0.0029829606465064</wood_trans_nir>
  <leaf_backscatter_vis>0</leaf_backscatter_vis>
  <leaf_backscatter_nir>0</leaf_backscatter_nir>
  <leaf_backscatter_tir>0.625</leaf_backscatter_tir>
  <wood_backscatter_vis>0</wood_backscatter_vis>
  <wood_backscatter_nir>0</wood_backscatter_nir>
  <wood_backscatter_tir>0.625</wood_backscatter_tir>
  <leaf_scatter_vis>0</leaf_scatter_vis>
  <leaf_scatter_nir>0</leaf_scatter_nir>
  <wood_scatter_vis>0</wood_scatter_vis>
  <wood_scatter_nir>0</wood_scatter_nir>
  <phi1>0</phi1>
  <phi2>0</phi2>
  <mu_bar>0</mu_bar>
  <photosyn_pathway>3</photosyn_pathway>
  <quantum_efficiency>0.0799999982</quantum_efficiency>
  <Vm0>17.4546871185</Vm0>
  <Vm_low_temp>4.7136998177</Vm_low_temp>
  <Vm_high_temp>45</Vm_high_temp>
  <Vm_decay_e>0.400000006</Vm_decay_e>
  <Vm_decay_a>220000</Vm_decay_a>
  <Vm_decay_b>690</Vm_decay_b>
  <vm_hor>3000</vm_hor>
  <vm_q10>2.4000000954</vm_q10>
  <dark_respiration_factor>0.0144999996</dark_respiration_factor>
  <Rd_low_temp>4.7136998177</Rd_low_temp>
  <Rd_high_temp>45</Rd_high_temp>
  <Rd_decay_e>0.400000006</Rd_decay_e>
  <Rd_hor>3000</Rd_hor>
  <Rd_q10>2.4000000954</Rd_q10>
  <Rd0>0.2530929446</Rd0>
  <D0>0.0160000008</D0>
  <stomatal_slope>7.1999998093</stomatal_slope>
  <cuticular_cond>10000</cuticular_cond>
  <water_conductance>0.0000190132</water_conductance>
  <leaf_width>0.1000000015</leaf_width>
  <growth_resp_factor>0</growth_resp_factor>
  <leaf_turnover_rate>0</leaf_turnover_rate>
  <root_turnover_rate>5.0837001801</root_turnover_rate>
  <storage_turnover_rate>0</storage_turnover_rate>
  <f_labile>0.7900000215</f_labile>
  <root_respiration_factor>0.2800000012</root_respiration_factor>
  <rrf_low_temp>4.7136998177</rrf_low_temp>
  <rrf_high_temp>45</rrf_high_temp>
  <rrf_decay_e>0.400000006</rrf_decay_e>
  <rrf_hor>3000</rrf_hor>
  <rrf_q10>2.4000000954</rrf_q10>
  <frost_mort>3</frost_mort>
  <mort0>0</mort0>
  <mort1>1</mort1>
  <mort2>20</mort2>
  <mort3>0.0038079999</mort3>
  <cbr_severe_stress>-0.7971192598</cbr_severe_stress>
  <seedling_mortality>0.9499999881</seedling_mortality>
  <treefall_s_gt>0</treefall_s_gt>
  <treefall_s_lt>0.1000000015</treefall_s_lt>
  <fire_s_gt>0</fire_s_gt>
  <fire_s_lt>0</fire_s_lt>
  <plant_min_temp>253.1499938965</plant_min_temp>
  <rho>0</rho>
  <SLA>29.3429087150265</SLA>
  <horiz_branch>0.3899999857</horiz_branch>
  <q>1.1274000406</q>
  <sapwood_ratio>3900</sapwood_ratio>
  <qsw>0.0062051285</qsw>
  <init_density>0.1000000015</init_density>
  <b1Ht>25.1800003052</b1Ht>
  <b2Ht>-0.0496399999</b2Ht>
  <hgt_ref>1.2999999523</hgt_ref>
  <hgt_min>1.5</hgt_min>
  <hgt_max>25.1548213959</hgt_max>
  <min_dbh>0.160646826</min_dbh>
  <dbh_crit>59.3171386719</dbh_crit>
  <dbh_adult>10</dbh_adult>
  <dbh_bigleaf>19.7723808289</dbh_bigleaf>
  <b1Bl_small>0.0480000004</b1Bl_small>
  <b1Bl_large>0.0480000004</b1Bl_large>
  <b2Bl_small>1.4550000429</b2Bl_small>
  <b2Bl_large>1.4550000429</b2Bl_large>
  <bleaf_adult>0.6842444539</bleaf_adult>
  <b1Bs_small>0.1616999954</b1Bs_small>
  <b1Bs_large>0.1616999954</b1Bs_large>
  <b2Bs_small>2.4572000504</b2Bs_small>
  <b2Bs_large>2.4572000504</b2Bs_large>
  <min_bdead>0.000904376</min_bdead>
  <bdead_crit>1839.6638183594</bdead_crit>
  <b1Ca>2.4901540279</b1Ca>
  <b2Ca>0.8068805933</b2Ca>
  <b1WAI>0.0096000005</b1WAI>
  <b2WAI>2.094700098</b2WAI>
  <brf_wd>0.1599999964</brf_wd>
  <agf_bs>0.6999999881</agf_bs>
  <b1Vol>0.0247086249</b1Vol>
  <b2Vol>2</b2Vol>
  <b1Rd>-1.1140580177</b1Rd>
  <b2Rd>0.4223014116</b2Rd>
  <c2n_leaf>19.3469314575</c2n_leaf>
  <c2n_recruit>28.5154895782</c2n_recruit>
  <phenology>2</phenology>
  <c_grn_leaf_dry>3218</c_grn_leaf_dry>
  <wat_dry_ratio_grn>2.5</wat_dry_ratio_grn>
  <wat_dry_ratio_ngrn>0.6999999881</wat_dry_ratio_ngrn>
  <c_ngrn_biom_dry>1217.3759765625</c_ngrn_biom_dry>
  <delta_c>-225.1618652344</delta_c>
  <b1Cl>0.3106774986</b1Cl>
  <b2Cl>1.0980000496</b2Cl>
  <r_fract>0.3000000119</r_fract>
  <st_fract>0</st_fract>
  <nonlocal_dispersal>0.3249999881</nonlocal_dispersal>
  <repro_min_h>18</repro_min_h>
  <one_plant_c>0.0044894684</one_plant_c>
  <min_recruit_size>0.0000448947</min_recruit_size>
  <min_cohort_size>0.0000044895</min_cohort_size>
  <seed_rain>0.0100000007</seed_rain>
  <negligible_nplant>0.0000000001</negligible_nplant>
  <veg_hcap_min>0.7652710676</veg_hcap_min>
 </pft>
</config>
